<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- lodash  라이브러리-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script> 
</head>
<body>

    <div id="app">
        <input v-model="query" placeholder="검색어">
        <ul>
          <li v-for="post in filteredPosts">
            {{ post.title }}
          </li>
        </ul>
      </div>

    <script>
        let app= new Vue({
            el:'#app',
            data: {
                query:''
               ,posts: []  // 전체 데이터
               ,filteredPosts: [] // 검색 조건에 맞는 데이터만 필터링해서 모으자.
            },
            created: function() {
                //통신
                this.getPosts();

                // 디바이스 적용된 검색 함수 정의 (lodash 기능: '_' 언더바 사용)
                this.debouncedSearch = _.debounce(this.search, 1000); // 자바스크립트에서 함수는 값으로 취급된다. (1초 후에 들어가짐: 서버의 부하가 줄어든다.)
            },
            methods: {
                getPosts: function() {
                    let v = this; // 컴포넌트 자체에 reference 저장
                    fetch('https://jsonplaceholder.typicode.com/posts')
                    .then(response => response.json())
                    .then(function(json) {
                        v.posts = json; 
                        v.filteredPosts= json;

                    })
                },
                search: function (val) {
                    this.filteredPosts = this.posts.filter(post => post.title.includes(val)) 
                }
            },
            watch: {
                query : function (val) { // 변겅된 query를 val로 받는다.
                 this.debouncedSearch(val);
                }
            }
        })
    </script>
</body>
</html>

